@font-face {
  font-family: "PingFang";
  src: url("./Roboto/Roboto-Light-10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("./Roboto/Roboto-Bold-3.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./Roboto/Roboto-Regular-14.ttf") format("truetype");
}