@font-face {
  font-family: "iconfont"; /* Project id 4593862 */
  src: url('iconfont.woff2?t=1718946482498') format('woff2'),
       url('iconfont.woff?t=1718946482498') format('woff'),
       url('iconfont.ttf?t=1718946482498') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongwen:before {
  content: "\e846";
}

