@import "@/assets/fonts/Roboto/index.scss";
@import "./md-editor-reset.scss";
@import "../assets/iconfont/iconfont.css";
@import "./dark.scss";
@import './animate.scss';
html,
body {
  --theme-color: #D074D8;
  --pink-color:#fec4d9;
  background: #f7f9fe;

  &::-webkit-scrollbar {
    display: none;
  }
}


.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .top-container .top-hi-text,
  .article-other-content {
    display: none;
  }
}
